source : https://leetcode.com/studyplan/30-days-of-pandas/

In [1]:
import numpy as np
import pandas as pd

# 1683. Invalid Tweets

In [2]:
# Input Data
tweets = pd.DataFrame({'tweet_id':[1,2], 'content':['Vote for Biden', 'Let us make America great again!']})

In [3]:
# My Solution
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets['num_characters'] = tweets['content'].apply(lambda x : len(x))
    return tweets[['tweet_id']][tweets.num_characters > 15]

invalid_tweets(tweets)

   tweet_id
1         2

# 1873. Calculate Special Bonus

In [4]:
# Input Data
employees = pd.DataFrame({'employee_id':[2,3,7,8,9], 'name':['Meir', 'Michael', 'Addilyn', 'Juan', 'Kannon'],
                          'salary':[3000, 3800, 7400, 6100, 7700]})

In [5]:
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['start_name'] = employees.name.apply(lambda x : x[0])
    employees['bonus'] = employees.salary

    employees.loc[(employees.employee_id % 2 == 0) | (employees.start_name == 'M'), 'bonus'] = 0

    result = employees[['employee_id', 'bonus']].sort_values('employee_id')
    return result

calculate_special_bonus(employees)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700

# 1667. Fix Names in a Table

In [6]:
# Input Data
users = pd.DataFrame({'user_id':[1,2], 'name':['aLice', 'bOB']})

In [7]:
# My Solution
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users.name = users.name.apply(lambda x : x[0].upper() + x[1:].lower())
    return users.sort_values('user_id')

fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob

# 1517. Find Users With Valid E-Mails

In [9]:
# Input Data
users = pd.DataFrame({'user_id':[1,2,3,4,5,6,7],
                      'name':['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro'],
                      'mail':['winston@leetcode.com', 'jonathanisgreat', 'bella-@leetcode.com', 'sally.come@leetcode.com',
                              'quarz#2020@leetcode.com', 'davide69@gmail.com', '.shapo@leetcode.com']})

In [10]:
# My Solution
import pandas as pd
import string

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    possible_str = [x for x in string.ascii_letters] + [y for y in string.digits] + ['_', '.', '-']

    users['prefix_name'] = users['mail'].apply(lambda x: x[:-13])
    users['domain'] = users['mail'].apply(lambda x: x[-13:])
    users['start_prefix'] = users['mail'].apply(lambda x: x[0])

    for i in range(len(users)):
        if (False in [x in possible_str for x in users['prefix_name'][i]]) or (users['start_prefix'][i] not in [y for y in string.ascii_letters]) or (users['domain'][i] != '@leetcode.com'):
            users.drop(index=i, inplace=True)

    return users[['user_id', 'name', 'mail']]

valid_emails(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

In [11]:
# Reference Solution
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:

    pattern = "^[A-Za-z][-._A-Za-z0-9]*@leetcode\.com$"  # 정규표현식 참고: https://wikidocs.net/4308

    result = users[users['mail'].str.match(pattern)]  # match(): 문자열의 처음부터 정규식과 매치되는지 확인
    return result

valid_emails(users)

,user_id,name,mail,prefix_name,domain,start_prefix
0,1,Winston,winston@leetcode.com,winston,@leetcode.com,w
2,3,Annabelle,bella-@leetcode.com,bella-,@leetcode.com,b
3,4,Sally,sally.come@leetcode.com,sally.come,@leetcode.com,s

# 1527. Patients With a Condition

In [12]:
# Input Data
patients = pd.DataFrame({'patient_id':[1,2,3,4,5], 'patient_name':['Daniel', 'Alice', 'Bob', 'George', 'Alain'],
                         'conditions':['YFEV COUGH', '0', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201']})

In [13]:
# My Solution
def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    pattern = '.*[ ](DIAB1).*|(DIAB1).*'
    return patients[patients['conditions'].str.match(pattern)]

find_patients(patients)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100