source : https://leetcode.com/studyplan/30-days-of-pandas/

In [1]:
import numpy as np
import pandas as pd

# 1741. Find Total Time Spent by Each Employee

In [2]:
# Input Data
employees = pd.DataFrame({'emp_id': [1, 1, 1, 2, 2],
                          'event_day': ['2020-11-28', '2020-11-28', '2020-12-03', '2020-11-28', '2020-12-09'],
                          'in_time': [4, 55, 1, 3, 47],
                          'out_time': [32, 200, 42, 33, 74]})

In [3]:
# My Solution
def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['spent_time'] = employees['out_time'] - employees['in_time']
    group_df = employees.groupby(['event_day', 'emp_id']).sum()
    result = group_df[['spent_time']].reset_index()
    result.columns = ['day', 'emp_id', 'total_time']

    return result

total_time(employees)

          day  emp_id  total_time
0  2020-11-28       1         173
1  2020-11-28       2          30
2  2020-12-03       1          41
3  2020-12-09       2          27

# 511. Game Play Analysis I

In [4]:
# Input Data
activity = pd.DataFrame({'player_id': [1, 1, 2, 3, 3], 'device_id': [2, 2, 3, 1, 4],
                         'event_date': ['2016-03-01', '2016-05-02', '2017-06-25', '2016-03-02', '2018-07-03'],
                         'game_played': [5, 6, 1, 0, 5]})

In [5]:
# My Solution
def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity.sort_values(['player_id', 'event_date'], inplace=True)
    activity.drop_duplicates('player_id', inplace=True)
    result = activity[['player_id', 'event_date']].copy()
    result.rename({'event_date':'first_login'}, axis=1, inplace=True)

    return result

game_analysis(activity)

   player_id first_login
0          1  2016-03-01
2          2  2017-06-25
3          3  2016-03-02

# 2356. Number of Unique Subjects Taught by Each Teacher

In [6]:
# Input Data
teacher = pd.DataFrame({'teacher_id': [1, 1, 1, 2, 2, 2, 2],
                        'subject_id': [2, 2, 3, 1, 2, 3, 4],
                        'dept_id': [3, 4, 3, 1, 1, 1, 1]})

In [7]:
# My Solution
def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    unique_id = teacher.drop_duplicates('teacher_id').copy()
    unique_id['cnt'] = unique_id['teacher_id'].apply(lambda x: len(teacher['subject_id'][teacher['teacher_id'] == x].unique()))

    return unique_id[['teacher_id', 'cnt']]

count_unique_subjects(teacher)

   teacher_id  cnt
0           1    2
3           2    4

In [8]:
# Referenced Solution
def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    unique_id = teacher.drop_duplicates('teacher_id').copy()
    unique_id['cnt'] = unique_id['teacher_id'].apply(lambda x: teacher['subject_id'][teacher['teacher_id'] == x].nunique())  # nunique(): unique의 갯수를 세주는 함수

    return unique_id[['teacher_id', 'cnt']]

count_unique_subjects(teacher)

   teacher_id  cnt
0           1    2
3           2    4

# 596. Classes More Than 5 Students

In [10]:
# Input Data
courses = pd.DataFrame({'student': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
                        'class': ['Math', 'English', 'Math', 'Biology', 'Math',
                                  'Computer', 'Math', 'Math', 'Math']})

In [11]:
# My Solution
def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    student_count = courses.groupby('class').count()
    result = student_count[student_count['student'] >= 5].reset_index()

    return result[['class']]

find_classes(courses)

  class
0  Math

# 586. Customer Placing the Largest Number of Orders

In [12]:
# Input Data
orders = pd.DataFrame({'order_number': [1, 2, 3, 4],
                       'customer_number': [1, 2, 3, 3]})

In [13]:
# My Solution
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    order_count = orders.groupby('customer_number').count().reset_index()
    result = order_count[order_count['order_number'] == order_count['order_number'].max()][['customer_number']]

    return result

largest_orders(orders)

   customer_number
2                3

# 1484. Group Sold Products By The Date

In [14]:
# Input Data
activities = pd.DataFrame({'sell_date': ['2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30', '2020-06-01', '2020-06-02', '2020-05-30'],
                           'product': ['Headphone', 'Pencil', 'Mask', 'Basketball', 'Bible', 'Mask', 'T-Shirt']})

In [16]:
# My Solution
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    activities.drop_duplicates(inplace=True)

    count_product = activities.groupby('sell_date').count().reset_index()
    count_product.rename(columns={'product':'num_sold'}, inplace=True)

    products_list = activities.groupby('sell_date')['product'].apply(lambda x: ','.join(sorted(x))).reset_index()
    products_list.rename(columns={'product':'products'}, inplace=True)

    result = count_product.merge(products_list, how='left', on='sell_date')

    return result

categorize_products(activities)

    sell_date  num_sold                      products
0  2020-05-30         3  Basketball,Headphone,T-Shirt
1  2020-06-01         2                  Bible,Pencil
2  2020-06-02         1                          Mask

In [20]:
# Referenced Solution
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    result = activities.groupby('sell_date')['product'].agg([        # agg(): 여러 개의 함수를 한 번에 적용 가능
                                            ('num_sold', 'nunique'),
                                            ('products', lambda x: ','.join(sorted(x.unique())))
                                            ]).reset_index()

    return result

categorize_products(activities)

    sell_date  num_sold                      products
0  2020-05-30         3  Basketball,Headphone,T-Shirt
1  2020-06-01         2                  Bible,Pencil
2  2020-06-02         1                          Mask

# 1693. Daily Leads and Partners

In [18]:
# Input Data
daily_sales = pd.DataFrame({'date_id': ['2020-12-8', '2020-12-8', '2020-12-8', '2020-12-7', '2020-12-7', '2020-12-8', '2020-12-8', '2020-12-7', '2020-12-7', '2020-12-7'],
                            'make_name': ['toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'honda', 'honda', 'honda', 'honda', 'honda'],
                            'lead_id': [0, 1, 1, 0, 0, 1, 2, 0, 1, 2],
                            'partner_id': [1, 0, 2, 2, 1, 2, 1, 1, 2, 1]})

In [19]:
# My Solution
def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    result = daily_sales.groupby(['date_id', 'make_name']).nunique().reset_index()
    result.rename(columns = {'lead_id':'unique_leads', 'partner_id':'unique_partners'}, inplace=True)

    return result

daily_leads_and_partners(daily_sales)

     date_id make_name  unique_leads  unique_partners
0  2020-12-7     honda             3                2
1  2020-12-7    toyota             1                2
2  2020-12-8     honda             2                2
3  2020-12-8    toyota             2                3