source : https://leetcode.com/studyplan/30-days-of-pandas/

In [1]:
import numpy as np
import pandas as pd

# 595. Big Countries

In [2]:
# Input Data
data = {
    'name' : ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continent' : ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
    'area' : [652230, 28748, 2381741, 468, 1246700],
    'population' : [25500100, 2831741, 37100000, 78115, 20609294],
    'gdp' : [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}
df = pd.DataFrame(data)

In [3]:
# My Solution
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    result = world[['name', 'population', 'area']][(df.area > 3000000)|(df.population > 25000000)]
    return result

big_countries(df)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

# 1757. Recyclable and Low Fat Products

In [4]:
# Input Data
data = {
    'product_id': [x for x in range(5)],
    'low_fats': ['Y', 'Y', 'N', 'Y', 'N'],
    'recyclable': ['N', 'Y', 'Y', 'Y', 'N']
}
df = pd.DataFrame(data)
df

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [5]:
# My Solution
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    result = products[(products.low_fats=='Y')&(products.recyclable=='Y')]
    return result[['product_id']]

find_products(df)

   product_id
1           1
3           3

# 183. Customers Who Never Order

In [6]:
# Input Data
customers = pd.DataFrame({'id':[1,2,3,4], 'name':['Joe','Henry','Sam','Max']})
orders = pd.DataFrame({'id':[1,2], 'customerId':[3,1]})

In [7]:
# My Solution
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    merge_df = pd.merge(customers, orders, how='left', left_on='id', right_on='customerId')
    merge_df.rename(columns={'name':'Customers'}, inplace=True)
    merge_df.drop('id_y', axis=1, inplace=True)
    result = merge_df[merge_df.customerId.isnull()]
    return result[['Customers']]

find_customers(customers, orders)

  Customers
1     Henry
3       Max

# 1148. Article Views I

In [8]:
# Input Data
views = pd.DataFrame({'article':[1,1,2,2,4,3,3], 'author_id':[3,3,7,7,7,4,4], 'viewer_id':[5,6,7,6,1,4,4],
                      'view_date':['2019-08-01', '2019-08-02', '2019-08-01', '2019-08-02',
                                   '2019-07-22', '2019-07-21', '2019-07-21']})

In [9]:
# My Solution
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    same_viewer = views[views.author_id == views.viewer_id].copy()
    same_viewer['id'] = same_viewer.author_id

    result = same_viewer[['id']].sort_values('id')
    result.drop_duplicates(inplace=True)

    return result

article_views(views)

   id
5   4
2   7